---
layout: default
---

{% if page.lang == 'en' %}
  {% assign source = en_content %}
{% elsif page.lang == 'ja' %}
  {% assign source = ja_content %}
{% endif %}

<div class="container">
  <h1 class="display-3 my-5 text-center">{{ source.resources.pageHeader }}
  </h1>
  <div class="my-2 text-center">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <img
          src="{{ '/images/battle.png' | url }}"
          class="img-fluid"
          alt="A photo of students in a room looking at a map being presented on a screen while another screen says 'Battle of the Maps'.">
        <br>
      </div>
    </div>
  </div>
  <h2 class="display-5 mt-5">{{ source.resources.section1Header }}</h2>
  <div class="row mt-4">
    <div class="col-4 text-end">
      {{ source.resources.resource1 }}
    </div>
    <div class="col">
      {{ source.resources.resourceDescription1 }}
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-4 text-end">
      {{ source.resources.resource2 }}
    </div>
    <div class="col">
      {{ source.resources.resourceDescription2 }}
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-4 text-end">
      {{ source.resources.resource3 }}
    </div>
    <div class="col">
      {{ source.resources.resourceDescription3 }}
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-4 text-end">
      {{ source.resources.resource4 }}
    </div>
    <div class="col">
      {{ source.resources.resourceDescription4 }}
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-4 text-end">
      {{ source.resources.resource5 }}
    </div>
    <div class="col">
      {{ source.resources.resourceDescription5 }}
    </div>
  </div>

  <!--
  <iframe
  src="https://slides.com/arutkows/battleofthemaps/embed"
  width="100%"
  height="620"
  title="USC vs. UCLA - A humanitarian map-a-thon"
  scrolling="no"
  frameborder="0"
  webkitallowfullscreen
  mozallowfullscreen
  allowfullscreen></iframe>--><!--<iframe width="100%" src="https://docs.google.com/document/d/e/2PACX-1vSYWfPsLtaQDrZg9AKPqSHIUKngEY_gas-ULhLhDe02tJqLeB_nkAK0mHIhhjYfzWDGfF0-yKWEGgjR/pub?embedded=true"></iframe>-->

</div>