---
layout: default
---

{% if page.lang == 'en' %}
  {% assign source = en_content %}
{% elsif page.lang == 'ja' %}
  {% assign source = ja_content %}
{% endif %}

<div class="container">
  <h1 class="display-5 my-5 fw-bold center-text">{{ source.team.pageHeader }}</h1>

  <h2 id="section-1">{{ source.team.section1Header }}</h2>
  <div class="row">
    <div class="col-lg-4 col-sm-6">

      {% comment %} {% for member in team.members %}
      <div class="card text-center mx-2 my-2" style="width: 18rem;">
      <div class="card-body d-flex flex-column justify-content-between">
      <h2 class="card-title display-6"><img src="{{  '/images/' | append: member.affiliation | append: '.png' | url}}" height="30" class="mx-2"> {{ member.name }}</h2>
      <p class="card-text">{{ member.blurb }}</p>
      <img src="{{ member.image | url }}" width="250">
      </div>
      </div>
      {% endfor %} {% endcomment %}

      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section1Affiliation1 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section1Name1 }}</h3>
          </div>
          {% assign photo1_1_url = source.team.section1Photo1 | strip %}
          {% if photo1_1_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section1Photo1 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section1Description1 }}</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section1Affiliation2 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section1Name2 }}</h3>
          </div>
          {% assign photo1_2_url = source.team.section1Photo2 | strip %}
          {% if photo1_2_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section1Photo2 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section1Description2 }}</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section1Affiliation3 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section1Name3 }}</h3>
          </div>
          {% assign photo1_3_url = source.team.section1Photo3 | strip %}
          {% if photo1_3_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section1Photo3 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section1Description3 }}</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section1Affiliation4 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section1Name4 }}</h3>
          </div>
          {% assign photo1_4_url = source.team.section1Photo4 | strip %}
          {% if photo1_4_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section1Photo4 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section1Description4 }}</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section1Affiliation5 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section1Name5 }}</h3>
          </div>
          {% assign photo1_5_url = source.team.section1Photo5 | strip %}
          {% if photo1_5_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section1Photo5 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section1Description5 }}</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section1Affiliation6 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section1Name6 }}</h3>
          </div>
          {% assign photo6_url = source.team.section1Photo6 | strip %}
          {% if photo6_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section1Photo6 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section1Description6 }}</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section1Affiliation7 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section1Name7 }}</h3>
          </div>
          {% assign photo7_url = source.team.section1Photo7 | strip %}
          {% if photo7_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section1Photo7 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section1Description7 }}</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section1Affiliation8 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section1Name8 }}</h3>
          </div>
          {% assign photo8_url = source.team.section1Photo8 | strip %}
          {% if photo8_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section1Photo8 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section1Description8 }}</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section1Affiliation9 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section1Name9 }}</h3>
          </div>
          {% assign photo9_url = source.team.section1Photo9 | strip %}
          {% if photo9_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section1Photo9 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section1Description9 }}</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section1Affiliation10 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section1Name10 }}</h3>
          </div>
          {% assign photo10_url = source.team.section1Photo10 | strip %}
          {% if photo10_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section1Photo10 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section1Description10 }}</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section1Affiliation11 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section1Name11 }}</h3>
          </div>
          {% assign photo11_url = source.team.section1Photo11 | strip %}
          {% if photo11_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section1Photo11 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section1Description11 }}</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section1Affiliation12 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section1Name12 }}</h3>
          </div>
          {% assign photo12_url = source.team.section1Photo12 | strip %}
          {% if photo12_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section1Photo12 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section1Description12 }}</p>
        </div>
      </div>
    </div>

  </div>

  <!-----------------------------------
  --
  --
  --
  --  Organizers
  --
  --
  --
  --
  ------------------------------------><h2 id="section-2">{{ source.team.section2Header }}</h2>

  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section2Affiliation1 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section2Name1 }}</h3>
          </div>
          {% assign photo2_1_url = source.team.section2Photo1 | strip %}
          {% if photo2_1_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section2Photo1 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section2Description1 }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section2Affiliation2 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section2Name2 }}</h3>
          </div>
          {% assign photo2_2_url = source.team.section2Photo2 | strip %}
          {% if photo2_2_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section2Photo2 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section2Description2 }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section2Affiliation3 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section2Name3 }}
            </h3>
          </div>
          {% assign photo2_3_url = source.team.section2Photo3 | strip %}
          {% if photo2_3_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section2Photo3 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section2Description3 }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section2Affiliation4 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section2Name4 }}
            </h3>
          </div>
          {% assign photo2_4_url = source.team.section2Photo4 | strip %}
          {% if photo2_4_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section2Photo4 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section2Description4 }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section2Affiliation5 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section2Name5 }}
            </h3>
          </div>
          {% assign photo2_5_url = source.team.section2Photo5 | strip %}
          {% if photo2_5_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section2Photo5 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section2Description5 }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section2Affiliation6 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section2Name6 }}
            </h3>
          </div>
          {% assign photo2_6_url = source.team.section2Photo6 | strip %}
          {% if photo2_6_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section2Photo6 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section2Description6 }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section2Affiliation7 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section2Name7 }}
            </h3>
          </div>
          {% assign photo2_7_url = source.team.section2Photo7 | strip %}
          {% if photo2_7_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section2Photo7 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section2Description7 }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section2Affiliation8 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section2Name8 }}
            </h3>
          </div>
          {% assign photo2_8_url = source.team.section2Photo8 | strip %}
          {% if photo2_8_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section2Photo8 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section2Description8 }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section2Affiliation9 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section2Name9 }}
            </h3>
          </div>
          {% assign photo2_9_url = source.team.section2Photo9 | strip %}
          {% if photo2_9_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section2Photo9 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section2Description9 }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section2Affiliation10 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section2Name10 }}
            </h3>
          </div>
          {% assign photo2_10_url = source.team.section2Photo10 | strip %}
          {% if photo2_10_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section2Photo10 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section2Description10 }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section2Affiliation11 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section2Name11 }}
            </h3>
          </div>
          {% assign photo2_11_url = source.team.section2Photo11 | strip %}
          {% if photo2_11_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section2Photo11 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section2Description11 }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section2Affiliation12 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section2Name12 }}
            </h3>
          </div>
          {% assign photo2_12_url = source.team.section2Photo12 | strip %}
          {% if photo2_12_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section2Photo12 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section2Description12 }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section2Affiliation13 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section2Name13 }}
            </h3>
          </div>
          {% assign photo2_13_url = source.team.section2Photo13 | strip %}
          {% if photo2_13_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section2Photo13 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section2Description13 }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section2Affiliation14 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section2Name14 }}
            </h3>
          </div>
          {% assign photo2_14_url = source.team.section2Photo14 | strip %}
          {% if photo2_14_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section2Photo14 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section2Description14 }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section2Affiliation15 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section2Name15 }}
            </h3>
          </div>
          {% assign photo2_15_url = source.team.section2Photo15 | strip %}
          {% if photo2_15_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section2Photo15 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section2Description15 }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section2Affiliation16 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section2Name16 }}
            </h3>
          </div>
          {% assign photo2_16_url = source.team.section2Photo16 | strip %}
          {% if photo2_16_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section2Photo16 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section2Description16 }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section2Affiliation17 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section2Name17 }}
            </h3>
          </div>
          {% assign photo2_17_url = source.team.section2Photo17 | strip %}
          {% if photo2_17_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section2Photo17 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section2Description17 }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card mx-2 my-4">
        <div class="card-body d-flex flex-column justify-content-start align-items-center">
          <div class="d-flex flex-row align-items-center">
            <img
              src="{{  '/images/' | append: source.team.section2Affiliation18 | append: '.png' | url}}"
              height="30"
              class="mx-2">
            <h3 class="card-title display-6" style="margin: 0;">
              {{ source.team.section2Name18 }}
            </h3>
          </div>
          {% assign photo2_18_url = source.team.section2Photo18 | strip %}
          {% if photo2_18_url != "" %}
            <img
              src="{{ '/images/' | append: source.team.section2Photo18 | url }}"
              style="max-height: 200px; max-width: 100%;"
              class="m-4">
          {% endif %}
          <p class="card-text" style="text-align: justify;">{{ source.team.section2Description18 }}</p>
        </div>
      </div>

    </div>
  </div>
</div>